@keyframes lineAnimation {
  from {
    top: 100%;
    opacity: 1;
  }

  to {
    top: 0%;
    opacity: 0;
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .top-half,
  .bottom-half {
    width: 100%;
    height: 50%;
    transition: background 1s linear;
  }
  
  .top-half {
    background: linear-gradient(#1f266c, #2c2458);
    position: relative;
  }

  .bottom-half {
    position: relative;
  }

  .bottom-half {
    background: linear-gradient(#372d6d, #613766);
  }

  .horizontal-lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;

    .line {
      position: absolute;
      left: 0;
      right: 0;
      border-top: 1px solid #eba3f3;
      border-bottom: 1px solid #ae73b9;
      animation-name: lineAnimation;
      animation-duration: 20s;
      animation-timing-function: ease-out;
    }
  }

  .darken {
    background: #1f266c;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s linear;

    &.half-active {
      opacity: 0.25;
    }
    
    &.active {
      opacity: 0.5;
    }
  }
}
