.name-wrapper {
  position: absolute;
  width: 18vw;
  white-space: nowrap;
  transform-style: preserve-3d;
  transform: perspective(25px) rotate3d(0, 0, -1, -10deg);

  * {
    transform-style: preserve-3d;
  }
}

.name {
  margin-left: -310px;
  margin-top: -92px;
  cursor: default;
  text-align: center;

  h2 {
    color: #D0AA00;
  }
}

.mobile {
  .name-wrapper {
    position: static;
    width: auto;
    transform: none;
    margin: 1rem;

    h1 {
      font-size: 14vw;
    }

    h2 {
      font-size: 12vw;
    }
  }

  .name {
    margin-left: auto;
    margin-top: auto;
  }

  .links {
    margin-left: 0;

    svg {
      width: 25vw;
    }
  }
}